br
br

footer
    .grid-bg.grid.long
        .container
            img#footerla(src='/images/personalsite-footer.jpg')

script.  
    tippy('.orange-link', {
        theme: 'ben',
        arrow: true,
        arrowType: 'round',
        delay: [500, 0]
    });

    tippy.browser.onUserInputChange = type => {
        const method = type === 'touch' ? 'disable' : 'enable'
        for (const tooltip of tip.tooltips) {
          tooltip[method]()
        }
    }