   
.container-wide.mobile-full
    if navImg
        .hero
            .bg-orange(style=navImg)
    else

.nav
    .nav-content
        .nav-text   
            a(href="/").left#root <span id='homeRoot'>Home</span> / <span class='projectRoot'>#{projectName}</span>
            .right.nav-links
                a(href="#contact") Contact
                a(target='_blank' href="../images/resume-update-comp2.pdf") Résumé