   
.container-wide.mobile-full
    .hero
        .grid-bg
            .flex-grid.thirds.flex-nav
                .thirds-col
                    <video id='first' autoplay loop muted playsinline>
                        <source src="../../images/benmoji-10s.mp4" type="video/mp4">
                    </video>
                    p.pauseicon Paused
                .two-thirds-col.big-text
                    h1#show Hi! I'm Ben.

            .rising

#stick-here
.nav#stickThis
    .nav-content
        .nav-text   
            a(href="/").left#root Home
            .right.nav-links
                a(href="#contact") Contact
                a(target='_blank' href="../images/resume-update-comp2.pdf") Résumé


script.
    var s1 = document.querySelector('#s1');
    let animationDuration = 10;
    console.log("Test");

    
    function set(animationDuration) {
         s1.style.setProperty('--animation-time', animationDuration + 's');
    }

    set(animationDuration);

    function changeAnimationTime() {
        animationDuration = Math.random() * 10;
        let newDuration = animationDuration;
        set(animationDuration);
        console.log("durTransform: ", (Math.round(animationDuration * 1000)));
        return newDuration;
    }
    console.log("newDuration: ", newDuration);

    setInterval(changeAnimationTime, newDuration);
    // console.log((Math.round(newDuration * 1000)));