@import 'styles.scss';

body, .x-files {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.scroll-to-top {
  display: none;
}

.scroll-to-top button {
  padding: 10px;
  border-radius: 3px;
  position: fixed;
  bottom: 20px;
  right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #333;
  color: white;
  z-index: 9999;
  outline: none;
}

// Kinda hacky but this is for paragraphs of text on project pages
h6 {
  color: $grey;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

  .leader {
    margin-top: 20px;
  }
  
  .leader:first-letter {
    color: $orange;
    float: left;
    font-family: Georgia !important;
    font-size: 65px;
    line-height: 50px;
    padding-top: 5px;
    padding-right: 12px;
  }

  h6 i {
    font-family: 'Lava Italic';
  }

  h6 strong {
    font-family: 'Lava Bold';
  }

  .italic {
    font-family: 'Lava Italic';
  }

  .indent {
    padding-left: 10%;
  }

  .inline {
    display: inline;
  }

  .back-button {
    font-family: $ss;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(230, 230, 230);
    padding: 5px 12px 5px 5px;
    border-radius: 3px;
    margin-left: 20px;
    cursor: pointer;
    text-transform: uppercase;
    display: none;
  }

  .glossary-term {
    margin-bottom: 15px;
  }

    .glossary-term > #g1, #g2, #g3 {
      color: rgb(168, 168, 168);
    }

  .explainer {
    padding-left: 10px;
    padding-bottom: 10px;
    display: none;
    cursor: pointer;
  }

    p.explainer {
      opacity: .5 !important;
    }

  .explainer2 {
    padding-left: 10px;
    padding-bottom: 10px;
    display: none;
    cursor: pointer;
  }

.headline {
  max-width: 750px;
  vertical-align: baseline;
}

h4 {
  font-family: $ss;
  font-size: 25px;
  margin-bottom: 10px;
}

ol {
  list-style-type: square;
}

  .shop-list {
    font-family: $ss;
  }

a {
  cursor: pointer;
}

sup {
  font-weight: bold;
  opacity: .3;
  cursor: pointer;
}

sup:hover {
  opacity: 1;
  color: $orange;
}

.open-indicator {
  font-size: 12px;
  padding-left: 5px;
}

.mobile-show {
  display: none !important; 
}

.med-photo {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 120%;
  margin-left: -10%;
  max-width: 1100px;
}

  .med-photo p {
    font-size: 20px;
    color: rgb(172, 172, 172);
    margin-bottom: 20px;
    line-height: 30px;
  }

  .med-photo-img {
    background-image: url(../../images/projects/coffee/ben-balcony-coffee.jpg);
    background-position-y: 65% !important;
  }

.big-photo {
  margin-top: 50px;
  margin-bottom: 30px;
  max-width: 1200px;
  margin: auto;
}
  
  .big-photo p {
    font-size: 20px;
    color: rgb(172, 172, 172);
    margin-bottom: 20px;
    line-height: 30px;
  }

  .big-photo-img {
    background-image: url(../../images/projects/coffee/ben-balcony-coffee.jpg);
    background-position-y: 65% !important;
  }

  .big-emoji {
    font-size: 60px;
    margin-bottom: 0px;
  }

  .caption {
    width: 90%;
    max-width: 900px;
    margin: auto;
    text-align: left;
  }

    .caption p {
      font-size: 18px;
      font-family: $ss;
    }

  .move-up {
    background-position-y: 70% !important;
    background-position-x: 20% !important;
  }

.update-line {
  font-family: $ss;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .3px;
  opacity: .3;
}

.bg-orange {
  height: 250px;
  background-color: rgb(221, 221, 221);
  background-size: cover;
  background-position: center;
}

.orange-btn {
  margin: 30px 0px;
  background-color: $orange;
  color: white;
  padding: 10px 50px;
  border-radius: 4px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

iframe {
  width: 100% !important;
  height: 600px;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
}

.quote {
  max-width: 750px;
  position: relative;
  padding: 0 0 25px 25px;
}

  .quote > h2 {
    font-size: 25px;
    font-weight: 600;
    color: #333333;
    line-height: 35px;
  }

.rootProject {
  opacity: .5;
}

.project .intro {
  margin-top: 100px;
}

.project .intro h1 {
  font-weight: 600;
}

.project-hero-img, .project-img {
  background-position: center;
  background-repeat: no-repeat;
}

  .background-contain {
    background-color: #F2F2F2;
    background-size: contain !important;
  }

.shopStatus, .foodEst {
  cursor: pointer;
}

  .foodEst:hover {
    sup {
      color: $orange;
      opacity: 1;
    }
  }

  .shopStatus:hover {
    sup {
      color: $orange;
      opacity: 1;
    }
  }

.project-card {
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
}

  .project-card > p {
    width: 60%;
    opacity: .5;
  }

  .project-card > h2 {
    width: 60%;
  }

  .project-img {
    width: 250px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: center;
  }

  .project-card > img {
    width: 100px;
    margin-top: 20px;
    margin-bottom: -20px;
    background-color: transparent;
  }

// REVIEWS
.review h4 {
  font-size: 35px;
  font-weight: 300;
}

  h4.shop-name {
    font-size: 30px;
    font-weight: bold !important;
  }

.review h4:first-of-type {
  margin-bottom: -10px;
}

.review a {
  font-family: $ss;
  font-size: 18px;
  line-height: 35px;
}

.review p {
  font-family: $ss;
  font-size: 18px;
  line-height: 35px;
}

.review .fill {
  height: 400px;
}

  .review .fill a img {
    border-radius: 3px;
    border: 1px solid rgb(168, 168, 168);
    width: 100%;
  }

.gallery-blackbox {
  margin-bottom: 20px;
  border-radius: 3px;
}

  .gallery-indicator {
    display: none;
  }

.gallery-container {
  margin: auto;
  height: 120px;
  margin-left: -10px;
}

  .gallery-container.flex-grid {
    margin-bottom: 0px;
  }

.gallery-photo {
  flex: 1;
  padding-left: 10px;
  position: relative;
}

  .gallery-photo a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid rgb(168, 168, 168);
  }

  .gallery-photo a img {
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
    object-fit: cover;
    border-radius: 3px;
    opacity: 1;
    transition: .3s ease all;
  }

    .gallery-photo a img:hover {
      opacity: .8;
    }

  .fill a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .scorecard {
    width: 100%;
    margin-bottom: 50px;
  }

  .score-col {
    padding: 20px 0px 20px 30px;
    text-align: left;
    width: 46%;
    background-color: rgba(243, 243, 243, 0.603);
    border-radius: 3px;

  }

    .score-col p {
      font-size: 16px;
      line-height: 25px;
      padding-right: 20px;
      margin-bottom: -10px;
    }

    .score-col i {
      font-size: 18px;
      opacity: .4;
      width: 30px;
      padding-right: 10px;
      text-align: center;
      margin-left: -5px;
    }

    .score-col div {
      padding-left: 5px;
      margin-bottom: 12px;
    }

    .score-col hr {
      display: none;
    }

    .score-col > h2 {
      margin: 0px 0px 30px 0px;
    }

    .score-col span {
      display: inline-block;
    }

    .score-text {
      display: inline-block;
      max-width: 75%;
    }

    .score-emoji {
      padding-top: 2px;
      padding-right: 8px;
      display: inline-block;
      vertical-align: top;
    }

    .small-note {
      font-size: 16px;
      font-family: $ss;
    }

    .score-col .small-note {
      opacity: .7;
    }

.writeup {
  padding: 0px 30px 0px 30px;
}

  .writeup h2 {
    margin-bottom: 15px;
    font-weight: bold;
  }

  .writeup img {
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .writeup-guest {
    background-color: rgba(243, 243, 243, 0.603);
    padding: 20px 20px 5px 30px;
    margin-top: 35px;
    margin-bottom: 40px;
    border-radius: 5px;
  }
  
    .writeup-guest strong {
      font-family: $ss;
      font-size: 18px;
    }

    .writeup-guest h6 {
      font-family: $ss;
      font-size: 18px;
    }

  .writeup a {
    color: $orange;
    font-family: inherit;
    font-size: inherit;
  }

  .writeup a:hover {
    color: rgb(194, 78, 19);
  }

.proj-button-container {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 15px;
  z-index: 10;
  margin-bottom: 80px;
}

  .proj-button-container hr {
    margin-top: -3px;
    width: 120vw;
    margin-left: -25%;
    position: absolute;
    border-color: rgba(231, 231, 231, 0.37);
    z-index: 1;
  }

  .proj-button {
    padding: 10px 20px;
    border: 1px solid #333;
    font-weight: bold;
    border-radius: 3px;
    background-color: white;
    position: relative;
    z-index: 10;
    border-bottom: 4px solid #333;
  }

    .proj-button:hover {
      background-color: rgb(243, 243, 243);
    }

.img-link {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
  font-family: $ss;
}

// DND -----
.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    width: 100% !important;
    margin: 0 auto;
    padding: 10px;

    p, li, a {
        font-size: 18px;
        line-height: 30px;
    }

    li {
        font-size: 18px;
    }

    pre {
      position: relative;
      margin: 10px 0px 30px 0px;
    }

    code {
        font-size: 14px !important; 
        font-color: #5a6668;
        background-color: #f6f8fa;
    }

    blockquote {
      margin-top: 15px;
    }
}

.comment {
  opacity: .5;
  padding-left: 20px;
}

.comment-override {
  opacity: .5 !important;
  color: $grey !important;
  filter: grayscale(100%);
}

.tags {
  width: 100%;
  margin-bottom: 20px;
}

.tag {
  font-family: $ss;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;  
  padding: 2px 5px;
  background-color: rgb(232, 232, 232);
  border-radius: 2px;
  display: inline;
  margin-right: 8px;
}

  .comment-override > .hljs-string, .comment-override .hljs-keyword {
    color: $grey;
  }

.full-container {
  width: 100%;
  margin: auto;
  align-content: center;
  background-color: rgb(244, 244, 244);
  margin-top: 30px;
}

.chapter-container {
  width: fit-content;
  margin: auto;
  padding: 20px 25px 5px 25px;
  border-radius: 3px;
  
  h1 {
    border: none;
    margin: 0;
    font-size: 25px;
    border-bottom: 0px !important;
  }

  .chapter-name {
    margin-top: 13px;
  }
  
  .chapter-emoji, .chapter-text {
    display: inline-block;
  }

  .chapter-emoji h1 {
    font-size: 40px !important;
  }

  .chapter-text {
    padding-left: 15px;
  }

  .chapter-uppercase {
    text-transform: uppercase;
    color: $grey;
    opacity: .5;
    font-size: 18px;
    margin-bottom: -20px;
  }
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

.dark-bg {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.strong-center {
  font-weight: bold;
  text-align: center;
}

.toggle-hide {
  display: none;
  opacity: 0;
}

.toggle-show {
  display: block;
  opacity: 100;
}

// - TOGGLE BUTTON CSS
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.markdown-body > .flex-grid > label {
  border: none !important;
  background-color: transparent !important;
}

.fit-content {
  width: fit-content;
  display: flex !important;
}

.toggle-text {
  padding: 0px 0px 0px 10px;
}

// -- End Deployment Project Styles


@media screen and (max-width: 500px) {
  .scroll-to-top button {
    display: none;
  }

  .btn-lrg {
    max-width: 100% !important;
    font-size: 22px !important;
    margin-top: 20px !important;
  }

  .mobile-show {
    display: inline-block !important;
  }

  .mobile-hide {
    display: none !important;
  }
}

@media screen and (max-width: 720px) {
  .project-img {
    display: none;
  }

  .project-card > p {
    width: 100%;
  }
}

@media screen and (max-width: 885px) {
  iframe {
    width: 100% !important;
    height: 420px;
  }
  
  .gallery-blackbox {
    position: relative;
  }

    .gallery-indicator {
      position: absolute;
      display: block;
      bottom: 15px;
      right: 10px;
      background-color: rgba(12, 12, 12, 0.432);
      padding: 0px 10px;
      border-radius: 3px;
      cursor: pointer;
      transition: .3s ease;
    }

    .gallery-indicator:hover {
      background-color: rgb(12, 12, 12);
    }

      .gallery-indicator a {
        color: white;
      }

    .gallery-blackbox .fill {
      width: 125vw;
      margin-left: -20%;
      border-radius: none;
    }

  .gallery-container.flex-grid {
    display: none;
  }
  .gallery-photo {
    display: none;
  }

  .scorecard {
    margin-top: 30px;
  }

  .score-col {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
  }

    .score-text {
      max-width: 85%;
    }

    .score-col div {
      margin-bottom: 10px;
    }

  .writeup {
    padding: 0px 5px;
  }

  .recs {
    display: none;
  }
  
  .meta-emoji {
    display: none;
  }
}

@media screen and (max-width: 685px) {
  iframe {
    width: 100% !important;
    height: 350px;
  }

  .chapter-emoji {
    margin-bottom: -40px;
    margin-top: -15px;
  }

  .chapter-container .chapter-text {
    padding-left: 0px;
  }


}

@media screen and (max-width: 500px) {
  iframe {
    width: 100% !important;
    height: 280px;
  }
}

@media screen and (max-width: 430px) {
  iframe {
    width: 100% !important;
    height: 250px;
  }
}