@import 'styles.scss';

// ENVELOPE PSWD PAGE
.envelope-container {
    width: 90%;
    max-width: 500px;
    margin: auto;
}

    .envelope-container h1 {
        text-align: center;
        margin-bottom: 10px;
    }

        .envelope-container p {
            font-size: 20px;
            text-align: center;
            padding-bottom: 30px;
            line-height: 32px;
            opacity: .5;
        }

        .envelope-container > h1:first-child {
            font-size: 60px;
            margin: 0;
        }

    .envelope-container input {
        margin: 10px 0px;
        border-radius: 3px;
        font-family: 'IBM Plex Sans';
    }

    .envelope-container input[type="button"] {
        background-color: #333;
        color: white;
    }

// END ENVELOPE


