-
    const inputs = [
        {
          label: 'Shop Name',
          ex: 'Starbucks Coffee',
          id: 'shopName',
          required: true
        },
        {
          label: 'Shop URL',
          ex: 'yelp.com/starbucks',
          id: 'yelpUrl',
          required: true
        },
        {
          label: 'Hero Image',
          ex: 'Link to image on web',
          id: 'heroImg',
          required: true,
        },
        {
          label: 'Food Item',
          ex: 'Croissant',
          id: 'foodItem',
        },
        {
          label: 'Food Cost',
          ex: '$5'
        },
        {
          label: 'Drink Item',
          ex: 'Rosemary Latté'
        },
        {
          label: 'Drink Cost',
          ex: '$3'
        },
        {
          label: 'Distance from Campus',
          ex: '5',
          id: 'distance',
          required: true
        },
        {
          label: 'Images (Split with commas)',
          ex: 'Paste in image links from Yelp',
          id: 'images',
          placeholder: 'https://s3-media4.fl.yelpcdn.com/bphoto/mLj5S7V9FGLZz-itxyS1jQ/o.jpg',
          textarea: true,
          required: true
        }
    ]

  const good = [
    {
      label: 'Charging',
      id: 'good_charging'
    },
    {
      label: 'Wifi',
      id: 'good_wifi'
    },
    {
      label: 'Drinks',
      id: 'good_drinks'
    },
    {
      label: 'Service',
      id: 'good_service'
    }
  ]

    const bad = [
    {
      label: 'Charging',
      id: 'bad_charging'
    },
    {
      label: 'Wifi',
      id: 'bad_wifi'
    },
    {
      label: 'Drinks',
      id: 'bad_drinks'
    },
    {
      label: 'Service',
      id: 'bad_service'
    }
  ]