extends layout-projects
block variables
  //- - const metapic = "https://i.imgur.com/rTOhocU.png";
block head
  - const projectName = "Deploy 🛠";
  title Ben - #{projectName}

block content
  .scroll-to-top
    button <i class="fas fa-arrow-alt-circle-up"></i> Return to Top
  .x-files
    .container.project.project-container
      .intro 
        +introsection("Deploy a website from scratch in minutes with Zeit Now.", "A simple introduction to a powerful (and free!) deployment technique. Choose below whether you want to follow the command line or desktop tutorial.", '', "🛠")
        
    +bigphoto('../images/projects/dnd/deployment-article-hero.png', '')(class='background-contain')

    .container.project.md-style
      br
      .markdown-body
        :markdown-it
          **Note:** I still have a lot to learn, so **take what I write with a grain of salt.** I want to share what I've learned with you because learning it genuinely brought me joy, and I want you to have some.
          >
          I am **not affiliated** in any way with Zeit. (I wish... 🤑) 
          >
        
        br
        br

        h2 What's your experience level?

        <input type="radio" name="demo" value="one" id="advanced" class="form-radio" checked>
        p.inline.toggle-text Advanced tutorial <a class="orange-link" title="Uses the command line (terminal) interface for deployment"><sup>?</sup></a>
        br

        <input type="radio" name="demo" value="one" id="beginner" class="form-radio">
        p.inline.toggle-text Beginner tutorial <a class="orange-link" title="Uses the desktop app for deployment"><sup>?</sup></a>
        br
        br

        // +img('../images/projects/dnd/chapter-headline-1.png', { shadow: false })
        .full-container
          .chapter-container
            .chapter-emoji  
              h1 📚
            .chapter-text
              h1.chapter-uppercase Chapter 1: 
              h1 First deployment
    
        .toggle-advanced
          include toggles/deploy_toggle_terminal
        .toggle-beginner
          include toggles/deploy_toggle_desktop


        :markdown-it
          That's it! Our sample project has been deployed to the outputted link (now in your clipboard). Anyone on the internet can view that link.
          > Psst: Wondering why Zeit outputs that strange URL? [Tell me more...](https://www.benstanfield.io)

        :markdown-it
          # What's next?
          *Technically* we've accomplished a very quick and easy deployment to the web! But the `.sh` output URL of a Now deployment isn't ideal for your website. Ideally, you want to deploy to your custom domain. So this leaves a couple options...
        
        br
        br

        //- +img('../images/projects/dnd/chapter-headline.png', { shadow: false })
        .full-container
          .chapter-container
            .chapter-emoji  
              h1 📚
            .chapter-text
              h1.chapter-uppercase Chapter 2: 
              h1 Buying a domain
        :markdown-it
            # 1. Browse
            ## But why browse on Zeit?
            There are a lot of companies that will sell you a domain—GoDaddy, Namecheap, FreeDNS, Google Domains, etc.—so what makes one better than the next? Here's one reason: Some domain registrars **share your domain search history** with squatters that will swoop in and buy domains before you can make a decision.
            > Note: If you already have your domain, [check out my guide](./migrate-domain.html) for migrating an existing domain to Zeit.
            >
            Zeit **guarantees** that no searches made on their site will be shared, so search away! Plus, buying a domain through Zeit makes *deploying* your site through Zeit (see part one) that much easier. Here are some other benefits of buying through Zeit:
            >
            - Free SSL certification
            - Free WHOIS privacy
            - Built-in **Zeit Now** integration
            - Free DNS (Your site will work across the globe, among [other things](https://zeit.co/network))

            > 
            ## Find a domain
            To start looking for your domain, visit [Zeit.co/domains](https://zeit.co/domains)

        +img('../images/projects/dnd/zeit-domains.png', { screenshot: true })

        .toggle-advanced
          include toggles/buy-domain_toggle_advanced
        .toggle-beginner
          include toggles/buy-domain_toggle_beginner

      +farewell
      