doctype html
include ../../includes/_mixins
include ../../includes/_variables
include ../../includes/_head
    block head
        title Ben Stanfield

body
// loads navigation bar for each page
include ../../includes/_nav-projects

// this is where content will be loaded for subsequent pages
block content

.container.project
    br
    br
    hr
    br
// footer
include ../../includes/_footer







