doctype html
include ../includes/_mixins.pug
include ../includes/_variables.pug 
include ../includes/head
    block head
        title Ben Stanfield

body
    .snowflakes(aria-hidden="true")
        +snowflakes(10)
// loads navigation bar for each page
include ../includes/nav-projects

// this is where content will be loaded for subsequent pages
block content

.container.project
    br
    br
    hr
    br
    +contact()
// footer
include ../includes/footer







