extends layout-projects
block head
    - var projectName = "Spark 🌟";
    - var navImg = 'background-image: url(http://sparksc.org/images/home/photo1.jpg)';
    title Ben - #{projectName}

block content
    .container.project
        .intro 
            +introsection('Spark SC', 'Spark SC is a student organization at the University of Southern California whose purpose is to inspire students of all backgrounds to pursue entrepreneurship.', 'September 21, 2018')
            
            .project-hero
                .fill(style='background-image: url(http://sparksc.org/images/home/photo2.jpg)')
                p Spark members Priscilla Pan (left) and Abigail Africa (right) laughing after a long brainstorm session.

            h6.leader 
                | Southern California is currently experiencing a wonderful and rare “superbloom” of flowers. Experts say that this spring, everything has “just been growing, growing, growing.” Spark SC has had a wonderful bloom too! From kicking off TechLA Fellows, our first summer fellowship program for interns at our partner startups, to piloting our Project Launch workshops for inner-city high school students, our impact continues to grow. Here’s a peek at a few of our buds.

            a(target='_blank' href='http://sparksc.org/')
                button.orange-btn Check out Spark's website

            h6
                | Spark SC has been the foundation of my time in college, and also some of the best collection of friends I've ever made. For the past three years I've worked as a committee member on projects like Tech.LA Fellows, Venture Studios, Unite, and Ideas to Impact. I also had the great opportunity to lead a committee myself, and to then take the leap onto the leadership team as co-President.

            +article('medium.com/sparksc/state-of-spark-spring-2017-ddeeab535d33', '../images/medium-logo.png', 'State of Spark: Spring 2017', 'Spark SC is the student-run entrepreneurial hub at the University of Southern California. So, what have we been up to this semester?', 'Medium', 'background-image: url(https://cdn-images-1.medium.com/max/1200/1*m2NXtbpuEhumpWG72RDYpQ.jpeg);')

            h6
                | Next I'll go in depth on a few of the committees I mentioned above, and what I've learned from building them.

            h4 Tech.LA Fellows

            h6
                | Tech.LA Fellow’s 10-week Summer Fellowship gives highly motivated students in design, engineering, and business a paid internship with a Los Angeles startup. The impetus for starting this project began when several Spark members had gone through the KPCB Fellows recruitment cycle and really appreciated what they built up north, but were thoroughly unimpressed by what Los Angeles had to offer, in regard to a community of interns.
            h6
                | So, we gathered a small group of Los Angeles startups, all in line with our mission of creating a tighter ecosystem of young tech talent in LA, and opened our application. That first year alone we received over 300 applications for just a handful of spots. In our second iteration (last summer), we received nearly 600 applications and are deep into our third iteration of the fellowship program today.

            +quote('Los Angeles is a welcoming tech environment, which is scarce these days. I also love that I get to work with & interact with people from non-tech backgrounds and mindsets. It’s enlightening.', '- Olivia Brown, 2017 Fellow')

            h6
                | If you're interested in applying to the Fellowship program for the summer of 2019, keep an eye on our website, 
                +link('https://www.tech.la', 'tech.la', 'Write some code under the sun 😎')
                |.

            h4 Unite Conference
            h6
                | In late 2016, a Spark committee formed with the concept of bringing together different entrepreneurial orgs from around the country to share ideas and learn from one another. This culminated in a 2-day conference at Google's San Francisco Headquarters over the summer of 2017. Click 
                +link('https://www.scribd.com/document/389346056/Unite-Next-Steps-Document', 'here')
                |  to check out the welcome packet received by invited schools.

            h4 Ideas to Impact
            h6
                | Ideas to Impact (now Innovating for the Refugee Crisis), which ran in 2017, was the first student-led course at the University of Southern California. Inspired by design-thinking principles from companies like IDEO, and by the idea that students teaching students is a novel way to connect in the classroom, a small group of Spark SC students pushed the Viterbi School of Engineering to champion the course.

            .project-hero
                .fill(style='background-image: url(/images/499.jpg)')
                p USC Provost Michael Quick (center-right) with Ideas to Impact students in the "Hacker House," the off-campus classroom for the course.

        hr
        br
        br
        h1 More Spark SC projects:
        br

        .flex-grid.thirds
            +3card('https://www.tech.la', '🌴', 'Tech.LA Fellows', 'Internship community for connecting students across the country with budding LA startups.', '_blank')
            +3card('http://www.breaktomake.com', '🔧', 'Break to Make', 'All-women makeathon hosted at the Reef in Los Angeles, with an emphasis on introducing young women to engineering.', '_blank')
            +3card('http://www.projectlaunch.io/', '🚀', 'Project Launch', 'Program that connects underserved LA high school students to USC mentors to develop hard skills.', '_blank')
        
            