extends layout-projects
block head
    - var projectName = "Startup Stack 🐦";
    title Ben - #{projectName}

block content
    .container.project
        .intro 
            +introsection('Startup Stack', "Over the past year, our small team has tried a lot of software while making Project Wren. I'm going to recap what we couldn't live without, and what didn't work at all.", 'April 12, 2020')

    - const h4dHero = '../images/notion-home.png';
    - const h4dHeroCaption = 'A screenshot of the Project Wren Notion.';
    +bigphoto(h4dHero, h4dHeroCaption)
    .container.project
            
        h6.leader 
            | In May of 2019, I launched #[+link('https://projectwren.com', 'Project Wren')], a platform for crowdfunding solutions to climate change, with my two co-founders #[+link('https://twitter.com/landonsbrand', 'Landon Brand')] and #[+link('https://twitter.com/mims_tz', 'Mimi Tran Zambetti')]. In the past year we've tried dozens of software and services to make the work we do more joyful and organized. When we started Wren, we'd just graduated college and entered Y Combinator. I'm going to take you through a (mostly) exhaustive breakdown of what services we can't live without, how much we pay for them, and how it all adds up and impacts our runway.

        h1 Stripe Atlas [A-]
        +tags(['Internal', 'Cheap'])
 
        h6.
            Often times, a "company" starts well before it's technically incorporated. But when the day comes, it can be a daunting task. Stripe Atlas was an easy and no-brainer decision for us. We'd never touched legal documents for a company before, and Atlas holds your hand through it all. 

        h1 Notion [A]
        +tags(['Internal', 'Cheap'])
 
        h6.
            We use Notion everyday for note-taking, personal kanban boards, and as a company wiki. If there's a new company practice we want to codify, it ends up in Notion. If someone's on a call with a user, those notes ends up in Notion. Notion is a swiss-army knife for storing information because everything is organized in databases. What makes Notion fun is that there's no tradeoff between structure and creativity—you can type and build and drag smoothly across notes and tables and images.

        h1 Tandem [B+]
        +tags(['Internal', 'Cheap'])
 
        h6.
            We use Notion everyday for note-taking, personal kanban boards, and as a company wiki. If there's a new company practice we want to codify, it ends up in Notion. If someone's on a call with a user, those notes ends up in Notion. Notion is a swiss-army knife for storing information because everything is organized in databases. What makes Notion fun is that there's no tradeoff between structure and creativity—you can type and build and drag smoothly across notes and tables and images.

        h1 More things to read:
        br
        .flex-grid.thirds
            +3card('sparksc.html', '✌️', 'Spark SC', 'Technology and entrepreneurship club at USC.' )
            +3card('https://www.skipper.ai', '⛵', 'Skipper', 'Tech startup helping SMBs use their workforce data to make work better.', '_blank')
            +3card('lsc.html', '🇮🇹', 'Laudato Si Challenge', 'Green tech accelerator inspired by Pope Francis, hosted in Rome.' )

        
            

