block variables
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/app.css">
  <script src="/vendor.js"></script>
  <script src="/app.js"></script>
  <script src="https://unpkg.com/tippy.js@2/dist/tippy.all.min.js"></script>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

  //- Messing with Markdown code syntax highlighting
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  //- Primary JS files
  <script>require('js/primary.js');</script>
  <script>require('js/special-projects.js');</script>
  <script>require('js/coffee.js');</script>
  <script>require('js/api.js');</script>
    
  <link rel="icon" type="image/png" href="../images/benmoji-small.png" />

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,600,600i|Source+Serif+Pro:400,700" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500" rel="stylesheet">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://benstanfield.io">
  <meta property="og:site_name" content="benstanfield.io">
  <title>Ben Stanfield - Co-founder @ Project Wren</title>
  <meta name="description" content="Ben Stanfield is a recent graduate from the Iovine & Young Academy and co-founder of Project Wren. Read his blog posts...">

  <meta name="twitter:domain" value="benstanfield.io" />
  <meta name="twitter:title" value="Ben Stanfield" />

  if metapic
    <meta property="twitter:image" content="#{metapic}">
    <meta property="og:image" content='#{metapic}'>
  else
    <meta name="twitter:image" content="https://i.imgur.com/adqY6pe.png" />
    <meta property="og:image" content="https://i.imgur.com/adqY6pe.png">

  if metadesc
    <meta name="twitter:description" value="#{metadesc}">
    <meta property="og:description" content="#{metadesc}"> 
  else
    <meta name="twitter:description" value="Ben Stanfield is a recent graduate from the Iovine & Young Academy and co-founder of Project Wren.">
    <meta property="og:description" content="Ben Stanfield is a recent graduate from the Iovine & Young Academy and co-founder of Project Wren."> 


  <meta name="twitter:title" value="Ben Stanfield" />
  <meta property="og:title" content="Ben Stanfield">

</head>
