   
.container-wide.mobile-full
    if navImg
        .hero
            .bg-orange(style=navImg)
    else

.nav#stickThis.stick
    .nav-content
        .nav-text   
            .left#root <a href='/'><span id='homeRoot'>BEN</span></a> / <a href=''><span class='projectRoot'>#{projectName}</span></a>
            .right.nav-links
                <div class="dropdown">
                    <a class='dropbtn' aria-haspopup="true">View posts <span class='drpdwn'>▾</span></a>
                    <div class="dropdown-content">
                        <div class="dropdown-link-container">
                            <a class='dropdown-link' href="/projects/deploy.html">Web Deployment Tutorial</a>
                        </div>
                        <div class="dropdown-link-container">
                            <a class='dropdown-link' href="/coffee.html">Best Coffeeshops for Work in Los Angeles</a>
                        </div>
                        <div class="dropdown-link-container">
                            <a class='dropdown-link' href="/foodforthought.html">Food for Thought Survey</a>
                        </div>
                        <div class="dropdown-link-container">
                            <a class='dropdown-link' href="/#experiences">Experiences</a>
                        </div>
                    </div>
                </div>
                //- a(class='mobile-show' href="/coffee.html") Coffee Blog
                a(class='mobile-hide' href="/gift.html") 🎁 Unwrap...
                //- a(href='/projects/deploy.html') Zeit Tutorial
                //- a(href='/#experiences') LA Coffeeshops
