   
.container-wide.mobile-full
    if navImg
        .hero
            .bg-orange(style=navImg)
    else

.nav#stickThis.stick
    .nav-content
        .nav-text   
            a(href="/").left#root <span id='homeRoot'>BEN</span> / <span class='projectRoot'>#{projectName}</span>
            .right.nav-links
                a(class='mobile-hide' href="/") Home
                a(class='mobile-hide') • 
                a(target='_blank' href='https://www.skipper.ai')
                    i Skipper
                a(href='/#experiences') Experiences
