@import 'styles.scss';

// Kinda hacky but this is for paragraphs of text on project pages
h6 {
    color: $grey;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

    .leader:first-letter {
        color: $orange;
        float: left;
        font-family: Georgia !important;
        font-size: 75px;
        line-height: 60px;
        padding-top: 10px;
        padding-right: 8px;
        padding-left: 3px;
    }

    h6 i {
        font-family: 'Lava Italic';
    }

    h6 strong {
        font-family: 'Lava Bold';
    }

h4 {
    font-family: $ss;
    font-size: 25px;
    margin-bottom: 10px;
}

ol {
    list-style-type: square;
}

.update-line {
    font-family: $ss;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    letter-spacing: .3px;
    opacity: .3;
}

.bg-orange {
    height: 250px;
    background-color: rgb(221, 221, 221);
    background-size: cover;
    background-position: center;
}

.orange-btn {
    margin: 30px 0px;
    background-color: $orange;
    color: white;
    padding: 10px 50px;
    border-radius: 4px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

iframe {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.quote {
    border-radius: 4px;
    background-color: rgb(245, 245, 245);
    width: 80%;
    max-width: 800px;
    padding: 10px 25px 25px 35px;
    margin: auto;
    margin-bottom: 35px;
    margin-top: 15px;
    border: 1px solid $grey;
    border-bottom: 5px solid $grey;
}

    .quote > h2 {
        font-size: 25px;
        font-style: italic;
        color: #333333;
        line-height: 35px;
    }

    .quote > p {
        font-size: 18px;
        font-weight: 600;
        color: grey;
    }

.rootProject {
    opacity: .5;
}

.project .intro h1 {
    font-weight: 600;
}

.project-card {
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
}

    .project-card > p {
        width: 60%;
        opacity: .5;
    }

    .project-card > h2 {
        width: 60%;
    }

    .project-img {
        width: 250px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-size: cover;
        background-position: center;
    }

    .project-card > img {
        width: 100px;
        margin-top: 20px;
        margin-bottom: -20px;
        background-color: transparent;
    }

// REVIEWS
.review h4 {
    font-size: 35px;
    font-weight: 300;
}

.review a {
    font-family: $ss;
    font-size: 18px;
    line-height: 35px;
}

.review p {
    font-family: $ss;
    font-size: 18px;
    line-height: 35px;
}

.review .fill {
    height: 400px;
}

    .review .fill a img {
        border-radius: 3px;
        border: 1px solid rgb(168, 168, 168);
        width: 100%;
    }

.gallery-blackbox {
    margin-bottom: 20px;
    border-radius: 3px;
}

.gallery-container {
    margin: auto;
    height: 120px;
    margin-left: -10px;
}

    .gallery-container.flex-grid {
        margin-bottom: 0px;
    }

.gallery-photo {
    flex: 1;
    padding-left: 10px;
    position: relative;
}

    .gallery-photo a img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border: 1px solid rgb(168, 168, 168);
    }

    .gallery-photo a img {
        width: 100%;
        height: 100%;
        background-color: rgb(243, 243, 243);
        object-fit: cover;
        border-radius: 3px;
        opacity: 1;
        transition: .3s ease all;
    }

        .gallery-photo a img:hover {
            opacity: .8;
        }

    .fill a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .scorecard {
        width: 100%;
        margin-bottom: 50px;
    }

    .score-col {
        padding: 20px 0px 20px 30px;
        text-align: left;
        width: 46%;
        background-color: rgba(243, 243, 243, 0.603);
        border-radius: 3px;

    }

        .score-col p {
            font-size: 16px;
            line-height: 30px;
            padding-bottom: 15px;
            padding-right: 20px;
        }

        .score-col i {
            font-size: 18px;
            opacity: .4;
            width: 30px;
            padding-right: 10px;
            text-align: center;
            margin-left: -5px;
        }

        .score-col div {
            padding-left: 40px;
            margin-bottom: 20px;
        }

.writeup {
    padding: 0px 30px 0px 30px;
}

    .writeup h2 {
        margin-bottom: 20px;
        padding-bottom: 8px;

    }

.proj-button-container {
    width: 100%;
    margin: auto;
    text-align: center;
}

    .proj-button-container hr {
        margin-top: -18px;
    }

    .proj-button {
        padding: 10px 20px;
        border: 1px solid #333;
        font-weight: bold;
        border-radius: 3px;
        background-color: white;
    }

        .proj-button:hover {
            background-color: rgb(238, 238, 238);
        }

.img-link {
    cursor: pointer;
    display: inline-block;
}

@media screen and (max-width: 720px) {
    .project-img {
        display: none;
    }

    .project-card > p {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .gallery-container.flex-grid {
        display: none;
    }
    .gallery-photo {
        display: none;
    }

    .score-col {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .score-col p {
        padding-left: 30px;
    }
}