// - VARIABLES
$bodyreg : 'Lava', sans-serif;
$ss: 'IBM Plex Sans', sans-serif;
$grey: #333333;
$orange: #F26C29;
$header: 'IBM Plex Sans', sans-serif;
$systemSerif: "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif;

$buffer-top: 30px;
$buffer-bottom: 30px;
$buffer: 30px 0px;


// - FONTS

@font-face {
  font-family: "Lava";
  src: url("fonts/lavastd-regular.woff");
}

@font-face {
  font-family: "Lava Italic";
  src: url("fonts/lavastd-regularitalic.woff");
}

@font-face {
  font-family: "Lava Bold";
  src: url("fonts/lavastd-bold.woff");
}

// - END FONTS
body {
  font-family: $bodyreg, sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  ::selection {
    background-color: rgba(242, 108, 41, 0.150) !important;
  }

br {
  margin-bottom: 20px;
}

img {
  background-color: rgb(230, 230, 230);
}

h1 {
  font-size: 40px;
  font-family: $header;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}

  #time {
    color: $grey;
    background-color: rgba(211, 211, 211, 0.39);
    font-size: 16px;
    margin-left: 5px;
    padding: 2px 6px 3px 6px;
    border-radius: 4px;
  }

  #time-leadup {
    color: grey;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
  }

  #one {
    margin-top: 15px;
    opacity: .1;
    transition: 1s ease all;
  }

h2 {
  font-size: 22px;
  font-family: $ss;
  font-weight: 500;
  margin-bottom: 5px;
  transition: 0.3s ease all;
}

a {
  line-height: 35px;
  color: $grey;
  text-decoration: none;
  transition: 0.3s ease all;
}

  .orange-link {
    color: $orange;
    text-decoration: underline;
    text-decoration-color: rgb(219, 219, 219);
    text-decoration-skip: objects;
    -webkit-text-decoration-skip: objects;
  }

  .orange-link:hover {
    color: rgb(231, 92, 22);
    text-decoration-color: #afafaf;
  }

p {
  font-size: 22px;
  line-height: 38px;
  margin: 0 !important;
  transition: 0.3s ease all;
}

.emoji {
  opacity: .1;
  transition: 1s ease all;
  padding-right: 10px;
}

// - NAVIGATION
.container-wide {
  width: 100%;
  margin: auto;
  max-width: 1000px;
}

.nav {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow:auto; 
  font-family: $ss !important;
}

:root {
  --animation-time: 2s; 
}

#stickThis {
  // border-bottom: 2px solid $grey;
  width: 100%;
  margin: auto;
}

#stickThis.stick {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: white;
  height: auto;
}

.nav-links > a:not(:last-child) {
  margin-right: 15px;
}

.nav-links > a:hover {
  color: $orange;
}

.nav-links > a:last-child {
  font-style: italic;
}

.nav-content {
  max-width: 1000px;
  height: 48px;
  border-bottom: 3px solid $grey;
  margin: auto;
}

  .nav-text {
    padding: 0px 20px 0px 20px;
  }

#hide {
  display: none;
}

// - HERO
video {
  opacity: .1;
  width: 300px;
  position: relative;
  transition: 1s ease-in-out all;
  margin-top: 20px;
  cursor: pointer;
}

  .pauseicon {
    z-index: 100;
    position: absolute;
    right: 30px;
    bottom: 50px;
    color: $grey;
    text-transform: uppercase;
    font-size: 12px;
    background: rgb(228, 228, 228);
    padding: 0px 10px;
    border-radius: 4px;
    display: none;
  }

  #videoimg {
    display: none;
    width: 230px;
    position: absolute;
    left: 60px;
    bottom: 15px;
    transition: 1s ease-in-out all;
  }

.grid-bg > h1 {
  float: right;
  position: relative;
  font-size: 90px;
  font-family: $ss;
  color: rgb(73, 73, 73) !important;
  opacity: .1;
  transition: 1s ease-in-out opacity;
}

  .long {
    height: fit-content !important;
    padding-top: 50px;
    padding-bottom: 20px;
  }

#root {
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 2px;
  font-size: 16px;
}

  #homeRoot {
    opacity: .2; 
    transition: .3s ease all;   
  }

    #homeRoot:hover {
      opacity: 1;
    }

// - INTRO
.intro {
  margin: $buffer;
}

// - PROJECT CARD
.card {
  display: block;
  background-color: white;
  border: 1.5px solid #333333;
  border-bottom: 10px solid #333333;
  border-radius: 4px;
  padding: 0px 20px 20px 20px;
  transition: 0.3s ease-in-out all;
}

  .no-pad {
    padding: 0;
    position: relative;
  }

  .card:hover {
    .more {
      color: $orange;
    }

    .more span {
      color: $grey;
      padding-left: 5px;
    }
  }

  .static:hover {
    margin-top: 0px;
  }

  .card > p {
    opacity: .5;
    font-size: 20px !important; 
    line-height: 30px;
  }

  .card > .pulsetxt > p {
    opacity: .5;
    font-size: 20px;
    line-height: 30px;
  }

  .more {
    padding-top: 8px;
    opacity: 1 !important;
    transition: .5s ease-in-out all;
  }

    .more span {
      transition: .3s ease-in-out all !important;
    }

.pulse {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.grow {
  opacity: 0.2 !important;
  transition: 0.3s ease-in-out;
}

.news-card {
  background-image: url('https://images.fastcompany.net/image/upload/w_1400,ar_16:9,c_fill,g_auto,f_auto,q_auto,fl_lossy/wp-cms/uploads/2017/05/p-1-Vaticans-Tech-Accelerator.jpg');
  background-size: cover;
  background-position: center;  
  position: relative;
  color: white;
  height: 250px;
}

  #spark-news {
    background-image: url('https://cdn-images-1.medium.com/max/1200/1*m2NXtbpuEhumpWG72RDYpQ.jpeg');
  }

  #tc-news {
    background-image: url('https://techcrunch.com/wp-content/uploads/2018/06/HSB_9596-1024x580.jpg?w=1390&crop=1');
  }

  .news-card > img {
    width: 60px;
    position: absolute;
    z-index: 100;
    top: -1.5px;
    left: -1.5px;
  }

  .news-card > .title-txt {
    position: absolute;
    bottom: 0;
    z-index: 100;
    padding: 10px;
  }

  .title {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.40);
    position: absolute;
  }

// - PULSE
.pulseimg {
  width: 100%;
  margin: auto;
  text-align: center;
}

  .pulseimg > img {
    width: 100%;
    border-radius: 3px;
  }

// - PRIMARY CONTENT
.fill {
  width: 100%;
  height: 600px;
  margin: auto;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
  display: block;
}


.project-hero {
  margin-top: 50px;
  margin-bottom: 30px;
}


  .project-hero p {
    font-size: 20px;
    color: rgb(172, 172, 172);
    margin-bottom: 20px;
    line-height: 30px;
    font-style: italic;
  }

.grid-bg {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
  background-color: transparent;
  border-bottom: 3px solid rgb(170, 170, 170);
  z-index: 999;
}

  .grid {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23272727' fill-opacity='0.18'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  }

  .rising {
    position: absolute;
    background-image: url('images/personalsite-nav-border.png');
    background-size: cover;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 99;
  }

.container {
  max-width: 950px;
  width: 90%;
  margin: auto;
}

.bottom {
  margin-bottom: $buffer-bottom;
}

.top {
  margin-top: $buffer-top;
}

button {
  background-color: white;
  color: $grey;
  border: none;
  font-size: 18px;
  text-transform: none;
  font-family: $ss;
  display: block;
  padding: 10px;
}

.audio-text {
  position: absolute;
  top: 0;
  left: 340px;
}

.audio-box {
  width: 300px;
  height: fit-content;
  background-color: $grey;
  border-right: 5px solid $grey;
  display: block;
}

  .audio-box img {
    border-top-left-radius: 4px;
    width: 100%;
    margin-bottom: 5px;
  }

  .controls-container {
    width: 90%;
    padding: 10px;
    margin: auto;
  }
  .controls-container audio {
    width: 100%;
  }

// FLEXBOX
.flex-grid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

  .flex-nav {
    align-items: center;
    justify-content: center;
  }

    .two-col {
      width: 45%;
    }

    .thirds-col {
      width: 27%;
      display: block;
      position: relative;
    }

      .thirds-col video {
        background-image: url('/images/Flickr-1s-85px.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100px;
        border-radius: 4px;
      }

      #col-bg {
        background-image: url('images/personalsite-assets-6.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 3px;
        width: 30%;
        border: 2px solid $grey;
      }

    .two-thirds-col {
      width: 62%;
    }
    
      .big-text {
        text-align: center !important;
        z-index: 100;
      }

        .big-text > h1 {
          font-size: 80px;
          color: $grey;
          float: right !important;
          width: 100%;
        }
  
// MISC
.left {
  float: left;
}

.right {
  float: right;
}

#whisper {
  font-style: italic;
  color: #dddddd;
}

// CONTACT FORM
::placeholder {
  opacity: .4;
}

input, select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid $grey;
  border-bottom: 2px solid $grey; /* Gray border */
  border-radius: 4px;
  border-top-left-radius: 0px;
  box-sizing: border-box;
  margin-top: 35px;
  margin-bottom: 15px;
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: $grey;
  font-family: $ss;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: fit-content;
  margin-top: 5px;
}

textarea {
  z-index: 1;
  max-height: 600px;
  min-height: 150px;
}

.label-input-group {
  position: relative;
}

label {
  font-family: $ss;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: $grey;
  font-size: 12px;
  background-color: rgba(126, 126, 126, 0.055);
  padding: 5px 10px;
  border: 1px solid $grey;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: absolute;
  top: 9px;
  opacity: 1;
  z-index: 20;
}

input:focus, textarea:focus {
  outline: none !important;
}

// FOOTER
footer {
  text-align: center;
  overflow: hidden;
  border-bottom: 60px solid $grey;
}

img#footerla {
  width: 100%;
  max-width: 600px;
  margin-bottom: -28px;
}

// TOOLTIPS
.tippy-tooltip.ben-theme {
  /* Your styling here. Example: */
  background-color: white !important;
  border: 2px solid $grey;
  color: $grey;
  max-width: 180px;
  padding: 10px;
}

.tippy-tooltip.ben-theme .tippy-backdrop {
  /* Your styling here. Example: */
  background-color: white;
}

.tippy-tooltip.ben-theme a {
  color: blue;
}

.tippy-tooltip.ben-img-theme {
  background-color: white !important;
  color: $grey;
  padding: 0px !important;
  max-height: 200px;
  max-width: 300px;
}

  .tippy-tooltip.ben-img-theme img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border: 2px solid $grey;
    border-radius: 3px;
  }

// MEDIA QUERIES
@media screen and (max-width: 915px) {
  .big-text > h1 {
    margin-right: 10px;
  }
}
@media screen and (max-width: 835px) {
  .flex-grid {
    display: block;
  }

  .flex-grid.thirds.flex-nav {
    display: flex;
  }

  .big-text > h1 {
    font-size: 80px;
    margin-left: 20px;
  }

  .thirds-col {
    width: 88%;
    margin-bottom: 30px;
  }

    .flex-nav > .thirds-col {
      width: 33%;
    }

  .two-thirds-col {
    width: 88%;
  }

    .flex-nav > .two-thirds-col {
      width: 66%;
    }

    .big-text > h1 {
      font-size: 65px;
    }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 20px;
  }
  
  .grid-bg {
    width: 100%;
  }

  #col-bg {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .nav-text {
    font-size: 16px;
  }

  #root {
    font-size: 16px;
  }


  .grid-bg {
    text-align: center;
  }

  .grid-bg > video {
    position: relative;
    width: 300px;
  }

    .pauseicon {
      opacity: 0;
    }

  .flex-nav {
    display: block !important;
  }

    .flex-nav .two-thirds-col {
      width: 100%;
      margin-bottom: 0px;
      margin-top: -10px;
    }

      .flex-nav .two-thirds-col h1 {
        z-index: 100;
        font-size: 50px;
        margin: 0;
      }

    .flex-nav .thirds-col {
      width: 100%;
      margin-bottom: 0px;
    }

      .thirds-col video {
        margin-top: 0px;
        width: 200px;
        z-index: 1;
      }

  .project-hero {
    margin-top: 10px;
  }

    .fill {
      height: 300px !important;
    }

    .project-hero p {
      font-size: 18px;
    }
}



