:markdown-it
    # Part 2: Buy
    Once you've found your domain, return to the `command line`. It doesn't matter what directory (folder) you're in, as long as your `now` command works.
    > Reminder: If you're unfamiliar with the command line, switch to the **beginner** version of this tutorial.

pre
    code(class='bash').
    <span class="hljs-built_in">now</span> domains buy <span class='hljs-string'>mydomain.com</span>

:markdown-it
    If you don't have a payment method attached to your Zeit account, you'll be prompted to enter payment info on the command line.

    ## Check that your domain has been registered to your account
    Return to the command line and type `now domains ls`. You should see your domain name appear alongside some meta information like age and serviceType.

pre
    code(class='bash').
        <span class="hljs-built_in">now</span> domains ls
        
        > 1 domain found under <strong>benstanfield</strong> [231ms]

            domain                   serviceType    verified    cf       age
            yourdomain.com           zeit.world     true        true     1d

:markdown-it
    # Publish your content!
    The last step to having a fully-functioning website is to connect, or **alias**, the content from [step one](./deploy.html) to your custom domain.
    > 
    Return to the command line. Make sure you're in the correct folder (`ls`), and type `now alias` followed by the long deployment domain from part one, and your custom domain (don't worry about prefixes like "https://" or "www" ... just type "yourdomain.com").
    >

pre
    code(class='bash').
        <span class='comment-override'>// now alias [deployment domain] [custom domain]</span>

        <span class="hljs-built_in">now</span> alias <span class='hljs-string'>https://public-fi0dkn9ep.now.sh yourdomain.com</span>
        > Assigning alias <span class='hljs-string'>yourdomain.com</span> to deployment <span class='hljs-string'>public-fi0dkn9ep.now.sh</span>
        > ...
        > Success! <span class='hljs-string'>yourdomain.com</span> now points to <span class='hljs-string'>public-fi0dkn9ep.now.sh</span> [4s]