include ../../../includes/_mixins.pug
:markdown-it
  # Objective (Advanced)
  To learn a simple, elegant deployment process for publishing web content that works for beginners *and* experienced developers 🤖.

  # 1. Setup
  > If you're not familiar with using the command line, this version of the tutorial might be confusing. If you'd rather learn the Desktop version of the tutorial, **toggle the Beginner tutorial** button above.
  ## Open Terminal
  All macs have the program **Terminal** installed by default. Open it, type `ls`, and press enter. You should see a list of files (kind of like a stripped down Finder) as the output.

pre
  code.
    ben@bs-tb13 ~ » <span class="hljs-built_in hljs-strong">ls</span>
    Applications/            
    Creative Cloud Files/   
    <strong>Desktop/</strong>                  
    Documents/             
    Downloads/           
    Dropbox/               
    Internships/
    Public/                       
    Library/                
    Movies/                  
    Music/                   
    Pictures/

    ben@bs-tb13 ~ »

:markdown-it
  To get started with our new project, we'll need to **change directory** (folder) from our root to wherever you want your code to live.
  > 
  Use the command `cd` to enter an existing directory.

pre
  code(class='bash').
    cd Desktop                              <span class="comment">// Enters your Desktop folder</span>
    <span class="hljs-built_in">mkdir</span> sampleProject && cd sampleProject <span class="comment">// Chains two commands: creating and entering a directory</span>

:markdown-it
  Adding files to a directory is easy from the command line. Use the following command to create two files: **index.html** and **now.json**. Now.json is your config file for Zeit Now.

pre
  code(class='bash').
    echo "&lt;h1&gt;I can't wait to be deployed...&lt;/h1&gt;" > index.html
    echo '{ "version": 2 }' > now.json

:markdown-it
  Open **index.html** in your browser to make sure it worked.

pre
  code(class='bash').
    <span class="hljs-built_in">open</span> 'index.html'

+img('../images/projects/dnd/index-file.png', { screenshot: true })

:markdown-it
  # 2. Create a **Zeit** account
  The **Zeit Now** platform is extremely powerful, but for now we can think of Zeit as a **simple hosting service for our static website.** In the next few minutes we'll get deployment of our code to the web working with just one command in Terminal. 😲
  >
  **First, visit [zeit.co](https://www.zeit.co/signup) and sign up**
  (choosing "continue with email" is fastest).

+img('../images/projects/dnd/zeit-signup.png', { screenshot: true })

:markdown-it
  When prompted, make sure to install the **Now CLI (Command Line Interface).** This allows us to write commands to deploy our website from the command line.
  >
  To confirm that you're logged in and have Now CLI installed, return to your project directory in Terminal and run this command:

pre
  code(class='bash').
    <span class="hljs-built_in">now</span> --version
    <span class="comment">// ex: 14.0.3</span>

:markdown-it
  # 3. Deploy
  🚨 We're one step from deployment! Just type the command `now` and your directory sampleProject will be deployed to a **staging URL.** 
  >
  You should see something like this:

pre
  code(class='bash').
    ben@bs-tb13 zeitApp » <span class="hljs-built_in">now</span>
    > Deploying ~/Desktop/zeitApp under <strong>benstanfield</strong>
    > Using project <strong>zeitApp</strong>
    > Synced 1 file (40B) [1s]
    > <span class="hljs-string">https://zeitapp-d005ajovh.now.sh</span> [v2] [in clipboard] [826ms]
    ┌ **        Ready               [404ms]
    └── index.html
    > <span class="hljs-keyword">Success!</span> Deployment ready [3s]