// COFFEE SHOPS

// PRISM COFFEE
- const prismMeta = { yelpUrl: 'prism-coffee-los-angeles', shopName: 'Prism Coffee', heroImg: 'prism-coffee-ben-stanfield-usc.jpg'};

- const prismImages = ['UzAQvKuyURy6Gh8pTn8sTA','Qakb6tPz2lBtKT0wF4w4CQ','oAuGYsDEYygfgp-j518e7A','yhtw3FO8V1s5Oz19SVeTYw'];

- const prismGood = { Charging: 'Plenty of outlets', Wifi: 'Pretty good', Coffee: 'Amazing pour-over and iced coffee', Service: 'Very friendly and knowledgeable!' };

- const prismBad = { Food: 'Mostly pastries', Distance: 'Not close to campus', 'All day grind': 'No comfortable seating', 'Large groups': 'Limited total space' };

- const prismNotes = [ "Prism Coffee is a wonderful, tiny slice of coffee heaven. Robin (the manager) and his staff's attention to detail—mainly for their pour-over and iced coffee—is undeniably the shop's strongsuit, but ample charging, good wifi, and friendly service pushes Prism into my top 20.", "You won't hear much about Prism because of its distance from campus (15 minutes without traffic) and low-profile shop (there isn't much else to do within walking distance). Save Prism for a day when you're craving a great cup of coffee and a nice chat over a long work session."];

- const prismRecs = [{ name: 'Moon cake', img: "<img  style ='max-width: 100%;'src='https://s3-media1.fl.yelpcdn.com/bphoto/8owv2WSFtu-5FL1tPGvVGg/o.jpg'></img>"}, { name: 'Iced coffee', img: ''}];

- const prismHours = { everyDay: {open: 8, close: 21 } };

// ---
//
// DULCE COFFEE
- const dulceMeta = { yelpUrl: 'dulce-los-angeles', shopName: 'Dulce', heroImg: 'dulce-ben-stanfield-usc.jpg'};

- const dulceImages = ['MGXvS4Via7X2uj0DcVEG-Q','IPjKDgUwZr9byp6mvWI79A','emQgfU-oRS-NBFu1XDAYCg','zTZeBj5wQGMFT1TZDZdGaQ'];

- const dulceGood = { Charging: 'Plenty of outlets', Wifi: 'Pretty good', Coffee: 'Amazing pour-over and iced coffee', Service: 'Very friendly and knowledgeable!' };

- const dulceBad = { Food: 'Mostly pastries', Distance: 'Not close to campus', 'All day grind': 'No comfortable seating', 'Large groups': 'Limited total space' };

- const dulceNotes = [ "Prism Coffee is a wonderful, tiny slice of coffee heaven. Robin (the manager) and his staff's attention to detail—mainly for their pour-over and iced coffee—is undeniably the shop's strongsuit, but ample charging, good wifi, and friendly service pushes Prism into my top 20.", "You won't hear much about Prism because of its distance from campus (15 minutes without traffic) and low-profile shop (there isn't much else to do within walking distance). Save Prism for a day when you're craving a great cup of coffee and a nice chat over a long work session."];

- const dulceRecs = [{ name: 'Moon cake', img: "<img  style ='max-width: 100%;'src='https://s3-media1.fl.yelpcdn.com/bphoto/8owv2WSFtu-5FL1tPGvVGg/o.jpg'></img>"}, { name: 'Iced coffee', img: ''}];

- const dulceHours = { everyDay: {open: 8, close: 21 } };