// COFFEE SHOPS
-
    const shops = {
        prism: [{
            meta: {
                yelpUrl: 'prism-coffee-los-angeles', 
                shopName: 'Prism Coffee', 
                heroImg: 'prism-coffee-ben-stanfield-usc.jpg',
                food: ['waffle', 5],
                drink: ['cortado', 5],
            },
            images: [
                'UzAQvKuyURy6Gh8pTn8sTA','Qakb6tPz2lBtKT0wF4w4CQ','oAuGYsDEYygfgp-j518e7A','yhtw3FO8V1s5Oz19SVeTYw'
            ],
            good: {
                Charging: 'Plenty of outlets', 
                Wifi: 'Pretty good', 
                Drinks: 'Amazing pour-over and iced coffee', 
                Service: 'Very friendly and knowledgeable!'
            },
            bad: {
                Food: 'Mostly pastries', 
                Distance: 'Not close to campus', 
                'All day grind': 'No comfortable seating', 
                'Large groups': 'Limited total space'  
            },
            notes: [
                "Prism Coffee is a wonderful, tiny slice of coffee heaven. Robin (the manager) and his staff's attention to detail—mainly for their pour-over and iced coffee—is undeniably the shop's strongsuit, but ample charging, good wifi, and friendly service pushes Prism into my top 10.", "If you're not into pourover coffee, or don't want to front the steep price for it, try the cortado. There isn't much food at Prism, but their waffle is to die for.", "You won't hear much about Prism because of its distance from campus (15 minutes without traffic) and low-profile shop (there isn't much else to do within walking distance). Save Prism for a day when you're craving a great cup of coffee and a nice chat over a long work session."
            ],
            recs: [
                { name: 'Moon cake', img: "<img  style ='max-width: 100%;'src='https://s3-media1.fl.yelpcdn.com/bphoto/8owv2WSFtu-5FL1tPGvVGg/o.jpg'></img>"}, { name: 'Iced coffee', img: ''}
            ],
            hours: [
                { day: 'Mon', open: 7, close: 21},
                { day: 'Tue', open: 7, close: 21},
                { day: 'Wed', open: 7, close: 21},
                { day: 'Thu', open: 7, close: 21},
                { day: 'Fri', open: 7, close: 21},
                { day: 'Sat', open: 7, close: 21},
                { day: 'Sun', open: 7, close: 21},
            ],
            distance: '15',
        }],
      dulce: [{
        meta: {
            yelpUrl: 'dulce-los-angeles', 
            shopName: 'Dulce Coffee', 
            heroImg: 'dulce-ben-stanfield-usc.jpg',
            food: ['breakfast burrito', 8],
            drink: ['drip coffee', 3.5],
        },
        images: [
          'kq8xEi9Hh_Ipnztu3_ORqQ','7W0OblEZl1YGhzRTimV5Ug','5Oc58-qbCoo3oaiQogP0Yw','IPjKDgUwZr9byp6mvWI79A'
        ],
        good: {
            Distance: 'On campus!', Drinks: 'Good drip and matcha coffee', Service: 'Very friendly!', Food: 'Donuts, sandwiches, breakfast burritos', 
        },
        bad: {
           'All day grind': 'Too loud and limited charging', 'Large groups': 'Limited total space', Charging: 'Only a few outlets!', Wifi: 'Kicks you off every 15 min.',
        },
        notes: [
          "Located in the USC Village, Dulce’s combination of accessibility and quality coffee is hard to beat. Most people around campus will rave about Dulce’s Matcha drinks, but not being a big fan of Matcha, I’ve really enjoyed their inauspicious drip coffees. Their regular lattes are also very good and the service friendly.", 
          "In addition to good drinks, Dulce also makes a <i>killer</i> breakfast burrito and a few really good sandwiches. Don’t sleep on their food… it’s a great spot for breakfast and lunch and comes out in less than 10 minutes."
        ],
        guestNotes: {
            name: 'Abigail Africa: ',
            url: 'https://www.google.com',
            img: 'https://i.imgur.com/DfjZKlH.jpg',
            notes: "Dulce is overall a mixed bag. It produces great food and coffee, but you should never expect to settle there unless you're exceptionally prepared to deal with poor wifi and a tough selection of outlets. Lighting is great, but noise is high, so I go there to do remote work, but not for group projects. Outdoors is a lovely experience in the first months of fall or the bulk of spring. It’s quieter than inside, but there are variables like harsh sun and no power."
        },
        recs: [
          { name: 'Matcha drinks', img: "<img  style ='max-width: 100%;'src='https://s3-media3.fl.yelpcdn.com/bphoto/emQgfU-oRS-NBFu1XDAYCg/o.jpg'></img>"}, { name: 'Breakfast burrito', img: '' }, 
          { name: 'Ruby Whole Beans (Roasted)', img: ''}
        ],
        hours: [
            { day: 'Mon', open: 7, close: 21},
            { day: 'Tue', open: 7, close: 21},
            { day: 'Wed', open: 7, close: 21},
            { day: 'Thu', open: 7, close: 21},
            { day: 'Fri', open: 7, close: 21},
            { day: 'Sat', open: 7, close: 21},
            { day: 'Sun', open: 7, close: 21},
        ],
        distance: '2',
      }],
      loit: [{
        meta: {
          yelpUrl: 'loit-cafe-los-angeles', 
          shopName: 'Loit Cafe', 
          heroImg: 'loit-hero.jpg',
          food: ['avocado toast', 8],
          drink: ['charcoal latte', 6],
        },
        images: [
            'JcEFlZjEeVOQqInd5WhDMQ','CQuVeiUptc9ToEQEDvH-LQ','hFaTr-zQyv5TTWu6MeHp1Q','rIXXSGDlhXNQQtjJGziHzA'
        ],
        good: {
            Drinks: 'Charcoal lattes, pour-over', Food: 'Surpisingly good small dishes!', 'All day grind': 'You should make a day out of Loit', 'Large groups': 'Large, open space with tablespace',
        },
        bad: {
            Wifi: 'It is pretty spotty',
        },
        notes: [
          "Located in the USC Village, Dulce’s combination of accessibility and quality coffee is hard to beat. Most people around campus will rave about Dulce’s Matcha drinks, but not being a big fan of Matcha, I’ve really enjoyed their inauspicious drip coffees. Their regular lattes are also very good and the service friendly.", 
          "In addition to good drinks, Dulce also makes a KILLER breakfast burrito and a few really good sandwiches. Don’t sleep on their food… it’s a great spot for breakfast and lunch and comes out in less than 10 minutes."
        ],
        guestNotes: {
            name: 'Landon Brand: ',
            url: 'https://www.google.com',
            img: 'https://i.imgur.com/iiRfBbk.jpg',
            notes: "I’d say this is one of the best spots downtown for working—tons of space and outlets, and since it serves food you can keep going even if you get hungry. That said, it is pricy, especially if you factor in parking/transportation to downtown. Maybe not worth it as an everyday go-to, but it’s hard to beat their workspace or coffee quality."
        },
        recs: [
          { name: 'Charcoal latte', img: ""}, { name: 'Avocado toast', img: '' }, 
          { name: 'Ethiopia pour-over', img: ''}
        ],
        hours: [
            { day: 'Mon', open: 7, close: 21},
            { day: 'Tue', open: 7, close: 21},
            { day: 'Wed', open: 7, close: 21},
            { day: 'Thu', open: 7, close: 21},
            { day: 'Fri', open: 7, close: 21},
            { day: 'Sat', open: 7, close: 21},
            { day: 'Sun', open: 7, close: 21},
        ],
        distance: '10',
      }],
      alchemist: [{
        meta: {
          yelpUrl: 'alchemist-coffee-project-los-angeles-2', 
          shopName: 'Alchemist Coffee', 
          heroImg: 'alchemist-hero.jpg',
          food: ['egg bat sandwich', 12],
          drink: ['single origin (hario)', 5.5],
        },
        images: [
            'Xn_68u-1vTKQPdWRnECwgw','BzKMGMMsLN0hG6Ijw-IpHg','i-I_5XAYzNNPm9HB5ZfJJw','CEv8GoOGS1sbsr3gcVMGxA'
        ],
        good: {
            Drinks: 'Great pour-over and tea selection.', Food: 'Awesome breakfast and paninis', 'All day grind': ' Cheap parking and good Korean food in plaza', Distance: 'Just follow Vermont all the way from campus'
        },
        bad: {
            'Large groups': '',
        },
        notes: [
          "Located in the USC Village, Dulce’s combination of accessibility and quality coffee is hard to beat. Most people around campus will rave about Dulce’s Matcha drinks, but not being a big fan of Matcha, I’ve really enjoyed their inauspicious drip coffees. Their regular lattes are also very good and the service friendly.", 
          "In addition to good drinks, Dulce also makes a KILLER breakfast burrito and a few really good sandwiches. Don’t sleep on their food… it’s a great spot for breakfast and lunch and comes out in less than 10 minutes."
        ],
        guestNotes: {
            name: 'Landon Brand: ',
            url: 'https://www.google.com',
            img: 'https://i.imgur.com/iiRfBbk.jpg',
            notes: "I’d say this is one of the best spots downtown for working—tons of space and outlets, and since it serves food you can keep going even if you get hungry. That said, it is pricy, especially if you factor in parking/transportation to downtown. Maybe not worth it as an everyday go-to, but it’s hard to beat their workspace or coffee quality."
        },
        recs: [
          { name: 'Charcoal latte', img: ""}, { name: 'Avocado toast', img: '' }, 
          { name: 'Ethiopia pour-over', img: ''}
        ],
        hours: [
            { day: 'Mon', open: 8, close: 22},
            { day: 'Tue', open: 8, close: 22},
            { day: 'Wed', open: 8, close: 22},
            { day: 'Thu', open: 8, close: 22},
            { day: 'Fri', open: 8, close: 22},
            { day: 'Sat', open: 8, close: 22},
            { day: 'Sun', open: 8, close: 22},
        ],
        distance: '12',
      }],
      ignatius: [{
        meta: {
          yelpUrl: 'Ignatius-cafe-los-angeles', 
          shopName: 'Ignatius Cafe', 
          heroImg: 'ignatius-hero.jpg',
          food: ['none', 0],
          drink: ['lemon tea', 3.5],
        },
        images: [
            'c8TsiJtqwfFpidleG1Dm4g','K0O1qrVbYrG_4SYXifb3MA','htkFfqiwCQFy0KYrznEROQ','PevT5MypKSj_MLSweT6Kfw'
        ],
        good: {
             Service: 'Very sweet Korean ladies', Drinks: 'The best lemon tea on earth', Distance: '10 minute WALK from north of campus', Charging: 'Plugs are plentiful, even outside', 'Large groups': "It's never really packed, so there are often multiple tables or even long benches available outside."
        },
        bad: {
            Food: "There just isn't any", Wifi: "It's not a priority here. Bring a book and enjoy the sunshine"
        },
        notes: [
          "Located just five minutes away from campus, With Love Cafe is a sweet community spot. Its dedication to serving the community is reflected in the truly diverse array of people that come through the market and cafe everyday. Small downsides are limited street parking and unremarkable coffee, but all of the pros easily make up for these. You can stay fueled with solid food, wifi, and charging all day here at an affordable price.", 
          'It has different workspace options too. You can move from the wide open downstairs to the more studious and quiet upstairs, or even into the small conference room available by reservation — that room is a personal favorite for group meetings.', "You won’t regret choosing With Love Cafe as your coffee spot for the full day — and you’re likely to be the only USC students there too, which is a refreshing change of pace from classic downtown brunch and coffee spot teeming with college students. "
        ],
        recs: [
          { name: 'Honey Tea', img: ""},
        ],
        hours: [
            { day: 'Mon', open: 9, close: 21},
            { day: 'Tue', open: 9, close: 21},
            { day: 'Wed', open: 9, close: 21},
            { day: 'Thu', open: 9, close: 21},
            { day: 'Fri', open: 9, close: 21},
            { day: 'Sat', open: 9, close: 17},
            { day: 'Sun', open: 13, close: 21},
        ],
        distance: '3',
      }],
      withLove: [{
        meta: {
          yelpUrl: 'with-love-market-and-cafe-los-angeles', 
          shopName: 'With Love Cafe', 
          heroImg: 'with-love-cafe.jpg',
          food: ['cubano', 8.5],
          drink: ['coffee', 2.5],
        },
        images: [
            'Z1tKow0jML_OyIZ3VcImBQ','AbTjWOUeBzD9Qhs8Hb42zg','mI-5YLN1pumBskeKbsibYg','M84ZspyK-jXCVvCW-ea6Cg'
        ],
        good: {
             Food: 'Healthy meals or snacks from the market', 'All day grind': ' Friendly and open space with big tables', Distance: 'Closer to campus than you think'
        },
        bad: {
            'Drinks': "Compared to the rest of these shops, it's nothing special. But the prices are good!",
        },
        notes: [
          "Located just five minutes away from campus, With Love Cafe is a sweet community spot. Its dedication to serving the community is reflected in the truly diverse array of people that come through the market and cafe everyday. Small downsides are limited street parking and unremarkable coffee, but all of the pros easily make up for these. You can stay fueled with solid food, wifi, and charging all day here at an affordable price.", 
          'It has different workspace options too. You can move from the wide open downstairs to the more studious and quiet upstairs, or even into the small conference room available by reservation — that room is a personal favorite for group meetings.', "You won’t regret choosing With Love Cafe as your coffee spot for the full day — and you’re likely to be the only USC students there too, which is a refreshing change of pace from classic downtown brunch and coffee spot teeming with college students. "
        ],
        guestNotes: {
            name: 'Mimi: ',
            img: 'https://i.imgur.com/pm0DZjU.jpg',
            notes: "With Love Cafe feels like the perfect blend between warm community library and health food store. If you’re the type to grab snacks at Trader Joe’s and then stop by Cafe 84 on a Saturday afternoon, skip both and head to With Love instead."
        },
        recs: [
          { name: 'Pulled pork sandwich', img: ""}, { name: 'The Fuego smoothie', img: '' }, 
          { name: 'Drip coffee', img: ''}
        ],
        hours: [
            { day: 'Mon', open: 7, close: 17},
            { day: 'Tue', open: 7, close: 17},
            { day: 'Wed', open: 7, close: 17},
            { day: 'Thu', open: 7, close: 17},
            { day: 'Fri', open: 7, close: 17},
            { day: 'Sat', open: 9, close: 17},
            { day: 'Sun', open: 9, close: 17},
        ],
        distance: '5',
      }],
      yellowHouse: [{
        meta: {
          yelpUrl: 'Yellow-house-cafe-los-angeles', 
          shopName: 'Yellow House Cafe', 
          heroImg: 'yellowhouse-hero.jpg',
          food: ['cubano', 8.5],
          drink: ['coffee', 2.5],
        },
        images: [
            'Z1tKow0jML_OyIZ3VcImBQ','AbTjWOUeBzD9Qhs8Hb42zg','mI-5YLN1pumBskeKbsibYg','M84ZspyK-jXCVvCW-ea6Cg'
        ],
        good: {
             Food: 'Healthy meals or snacks from the market', 'All day grind': ' Friendly and open space with big tables', Distance: 'Closer to campus than you think'
        },
        bad: {
            'Drinks': "Compared to the rest of these shops, it's nothing special. But the prices are good!",
        },
        notes: [
          "Located just five minutes away from campus, With Love Cafe is a sweet community spot. Its dedication to serving the community is reflected in the truly diverse array of people that come through the market and cafe everyday. Small downsides are limited street parking and unremarkable coffee, but all of the pros easily make up for these. You can stay fueled with solid food, wifi, and charging all day here at an affordable price.", 
          'It has different workspace options too. You can move from the wide open downstairs to the more studious and quiet upstairs, or even into the small conference room available by reservation — that room is a personal favorite for group meetings.', "You won’t regret choosing With Love Cafe as your coffee spot for the full day — and you’re likely to be the only USC students there too, which is a refreshing change of pace from classic downtown brunch and coffee spot teeming with college students. "
        ],
        guestNotes: {
            name: 'Mimi: ',
            img: 'https://i.imgur.com/pm0DZjU.jpg',
            notes: "With Love Cafe feels like the perfect blend between warm community library and health food store. If you’re the type to grab snacks at Trader Joe’s and then stop by Cafe 84 on a Saturday afternoon, skip both and head to With Love instead."
        },
        recs: [
          { name: 'Pulled pork sandwich', img: ""}, { name: 'The Fuego smoothie', img: '' }, 
          { name: 'Drip coffee', img: ''}
        ],
        hours: [
            { day: 'Mon', open: 7, close: 17},
            { day: 'Tue', open: 7, close: 17},
            { day: 'Wed', open: 7, close: 17},
            { day: 'Thu', open: 7, close: 17},
            { day: 'Fri', open: 7, close: 17},
            { day: 'Sat', open: 9, close: 17},
            { day: 'Sun', open: 9, close: 17},
        ],
        distance: '5',
      }],
    };

-
    const pulses = {
        conference: [{
            title: 'The best coffee shops in LA (for USC students)',
            sub: "I really like coffee. I've been to a lot of coffee shops over the past couple of years. So, naturally, I made a list.",
            img: 'coffee-thumb.png',
            link: 'projects/coffee.html',
        }],
    };