block variables
block head
    - var projectName = "404";
    title 🚨 #{projectName}

block content
    style.
        .container {
            width: 500px;
            text-align: center;
            font-family: Helvetica;
            margin: auto;
            margin-top: 25vh;
        }

        .emoji {
            font-size: 50px;
        }

        .italic {
            font-style: italic;
        }

    .container
        .intro
            .emoji 🚨
            h1 Error 404!
            p Page not found.