doctype html

include ../includes/_mixins
include ../includes/_variables
include ../includes/_head
    block head 
        title Ben Stanfield - Home

body
// loads navigation bar for each page
include ../includes/_nav

// this is where content will be loaded for subsequent pages
block content

// footer
include ../includes/_footer







