doctype html
include ../includes/_mixins
include ../includes/_variables 
include ../includes/_head
    block head
        if title
            title= title
        else
            title Ben Stanfield

body
block content