block variables
    - var metapic = "https://i.imgur.com/rTOhocU.png";
block head
    - var projectName = "Coffee ☕️";
    title Ben - #{projectName}

// <meta http-equiv="refresh" content="0; url=/projects/coffee.html" />