extends plain-layout
block variables
    - var metapic = "https://i.imgur.com/rTOhocU.png";
block head
    // Make +title() mixin
    - var title = "Ben - Coffee ☕️";
    meta(name="twitter:title" value=title)
    meta(property="og:title" content=title)

    <meta http-equiv="refresh" content="0; url=/projects/coffee.html" />