block variables
block head
    - var projectName = "For Mimi";
    title 🎵 #{projectName}

<meta http-equiv="refresh" content="5; url=https://open.spotify.com/user/benstanfield19/playlist/4SNMK42mn3KlTg313N0v9N?si=HIe0Bi8xRSWRacTKArOhMQ" />

block content
    style.
        .container {
            width: 500px;
            text-align: center;
            font-family: Helvetica;
            margin: auto;
            margin-top: 25vh;
        }

        .emoji {
            font-size: 50px;
        }

        .italic {
            font-style: italic;
        }

    .container
        .intro
            .emoji 🎵
            h1 I hope you enjoy this!
            p 36 songs, 2 hours, 7 minutes.

            p.italic You'll <a href='https://open.spotify.com/user/benstanfield19/playlist/4SNMK42mn3KlTg313N0v9N?si=HIe0Bi8xRSWRacTKArOhMQ'>redirect</a> in a few seconds...

            br
            br
            p - Ben