doctype html
include ../includes/_mixins
include ../includes/_variables 
include ../includes/_head

block head
    - var projectName = "WREN FUTURE";
    title Wren Future

block content
    include ../includes/_nav-projects
        
    .container(style="margin-top: 120px;")
        img(style='background-color: white; width: 100%' src='../images/projects/wren-retreat/wren-future.png')
        br
        br
        br
        br
        br
        br

        div(style="width: 100%; text-align: center;")
            a(style="color: blue; text-decoration: underline" href="/past") ← Back to Wren Past

        br
        br
        br
        br
        br
        br