extends _layout

block content
    .container
        +toast()
        +index_intro()

        +anchor('readings')
        .bookshelf
            h1 What I&#8217;ve been reading
            br

            button(text="next" value="Next" id='book-iterator-left' class="book-iterator-left") <svg width="16" height="12.8" viewBox="0 0 26 16" xmlns="http://www.w3.org/2000/svg" class="css-jbc4oa"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 2.86203L2.86203 0L12.8894 10.0274L22.9168 0L25.7789 2.86203L15.7515 12.8894L15.7789 12.9168L12.9168 15.7789L12.8894 15.7515L12.862 15.7789L10 12.9168L10.0274 12.8894L0 2.86203Z" fill="white"></path></svg>
            button(text="next" value="Next" id='book-iterator-right' class="book-iterator-right") <svg width="16" height="12.8" viewBox="0 0 26 16" xmlns="http://www.w3.org/2000/svg" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 2.86203L2.86203 0L12.8894 10.0274L22.9168 0L25.7789 2.86203L15.7515 12.8894L15.7789 12.9168L12.9168 15.7789L12.8894 15.7515L12.862 15.7789L10 12.9168L10.0274 12.8894L0 2.86203Z" fill="white"></path></svg>
            
            +books([
                  {
      path: "upheaval.png",
      emoji: "🌊",
      title: "Upheaval: Turning Points for Nations in Crisis",
      tags: "History",
      goodreads: "https://www.goodreads.com/book/show/41716904-upheaval",
    },
                  {
      path: "never-let-me-go.png",
      emoji: "🫀",
      title: "Never Let Me Go",
      tags: "Speculative Fiction",
      date: "Jul. 2022",
      review: 4,
      goodreads: "https://www.goodreads.com/book/show/6334.Never_Let_Me_Go",
    },
    {
      path: "invisible-child.png",
      emoji: "🗽",
      title: "Invisible Child",
      tags: "Biography",
      date: "Jul. 2022",
      goodreads: "https://www.goodreads.com/book/show/57359691-invisible-child?from_search=true&from_srp=true&qid=og7JfMBz1T&rank=1",
      review: 5,
    },
    {
      path: "great-mistake.png",
      emoji: "🔫",
      title: "The Great Mistake",
      tags: "Biography",
      date: "Jun. 2022",
      goodreads: "https://www.goodreads.com/book/show/55502632-the-great-mistake?from_search=true&from_srp=true&qid=QEmXYBN1td&rank=1",
      review: 3,
    },
    {
      path: "no-importance.png",
      emoji: "🕵️‍♀️",
      title: "A Woman of No Importance",
      tags: "History",
      date: "Mar. 2022",
      goodreads: "https://www.goodreads.com/book/show/40595446-a-woman-of-no-importance?ac=1&from_search=true&qid=kC3XP5I2p2&rank=1",
      review: 5,
    },
    {
      path: "achilles.png",
      emoji: "⚔️",
      title: "The Song of Achilles",
      tags: "Mythology",
      date: "Feb. 2022",
      goodreads: "https://www.goodreads.com/book/show/13623848-the-song-of-achilles?ac=1&from_search=true&qid=9dBXR4zyNp&rank=1",
      review: 4,
    },
    {
      path: "circe.png",
      emoji: "👩‍🦳",
      title: "Circe",
      tags: "Mythology",
      date: "Feb. 2022",
      goodreads: "https://www.goodreads.com/book/show/35959740-circe?ac=1&from_search=true&qid=qZMrCNjcZq&rank=1",
      review: 5,
    },
    {
      path: "15-commitments.png",
      emoji: "🤝",
      title: "15 Commitments",
      tags: "Business Culture",
      review: 4,
      goodreads: "https://www.goodreads.com/book/show/23275060-15-commitments-of-conscious-leadership?ac=1&from_search=true&qid=7OYtP2JtV4&rank=1",
      date: "Jan. 2022",
    },
    {
      path: "weirdest-people.png",
      emoji: "👶🏼",
      title: "WEIRDEST People",
      tags: "Psychology & Economics",
      goodreads: "https://www.goodreads.com/book/show/51710349-the-weirdest-people-in-the-world?ac=1&from_search=true&qid=zjoN5bkmfo&rank=1",
    },
    {
      anchor: "the-map-that-changed-the-world",
      path: "the-map-that-changed-the-world.png",
      emoji: "🗺",
      title: "The Map That Changed the World",
      tags: "History & Geology",
      date: "Nov. 2021",
      review: 5,
      goodreads: "https://www.goodreads.com/book/show/25014.The_Map_That_Changed_the_World?ac=1&from_search=true&qid=5u49g1kS78&rank=1",
    },
    {
      path: "dune.png",
      emoji: "🏜",
      title: "Dune",
      tags: "Sci-fi & Fantasy",
      date: "Nov. 2021",
      review: 5,
      goodreads: "https://www.goodreads.com/book/show/44767458-dune?ac=1&from_search=true&qid=ISkEXvQjsr&rank=1",
    },
    {
      path: "hail-mary.png",
      emoji: "👨‍🚀",
      title: "Hail Mary",
      tags: "Sci-fi",
      date: "Oct. 2021",
      review: 4,
      goodreads: "https://www.goodreads.com/book/show/54493401-project-hail-mary?ac=1&from_search=true&qid=CuXil1yKSc&rank=1",
    },
    {
      path: "lifes-edge.png",
      emoji: "🦠",
      title: "Life's Edge",
      tags: "Philosophy & Science",
      date: "Aug. 2021",
      review: 4,
      goodreads: "https://www.goodreads.com/book/show/54227475-life-s-edge?ac=1&from_search=true&qid=E4MmowCtzZ&rank=1",
    },
    {
      path: "intro-to-fire.png",
      emoji: "🔥",
      title: "Intro to Fire",
      tags: "Ecology",
      date: "Aug. 2021",
      goodreads: "https://www.goodreads.com/book/show/3789643-introduction-to-fire-in-california?ac=1&from_search=true&qid=oDiuRScYzF&rank=1",
      review: 3,
    },
    {
      path: "drawdown.png",
      emoji: "⏬",
      title: "Drawdown",
      tags: "Climate Science",
      date: "Mar. 2021",
      review: 5,
      goodreads: "https://www.goodreads.com/book/show/31624481-drawdown?ac=1&from_search=true&qid=eMYRTuTFEO&rank=1",
    },
    {
      path: "story-of-more.png",
      emoji: "🌍",
      title: "The Story of More",
      tags: "Climate Science",
      date: "Feb. 2021",
      review: 5,
      goodreads: "https://www.goodreads.com/book/show/49960370-the-story-of-more?ac=1&from_search=true&qid=G9L4KIInq1&rank=1",
    },
    {
      path: "seveneves.png",
      emoji: "🌑",
      title: "Seveneves",
      tags: "Hard Sci-fi",
      date: "Feb. 2020",
      review: 5,
      goodreads: "https://www.goodreads.com/book/show/22816087-seveneves?ac=1&from_search=true&qid=aWBtSVVaXd&rank=1",
    },
  ])

        br
        br
        
        +anchor('experiences')
        h1 Experiences
        br
            
        +experience_blocks(experiences.slice(0, 3))
        +experience_blocks(experiences.slice(3))

        br 
        br
        h1 <span class="pulse">💓</span> Pulse
        p.os What I’ve been up to recently... check back in every once in a while for a new Pulse update!
        br

    .grid-bg.grid.long
        +pulse(pulses, 2)

    br 
    br
    br