extends _layout

block content
    .container
        +toast()
        +index_intro()

        +anchor('readings')
        .bookshelf
            h1 What I&#8217;ve been reading
            br

            button(text="next" value="Next" id='book-iterator-left' class="book-iterator-left") <svg width="16" height="12.8" viewBox="0 0 26 16" xmlns="http://www.w3.org/2000/svg" class="css-jbc4oa"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 2.86203L2.86203 0L12.8894 10.0274L22.9168 0L25.7789 2.86203L15.7515 12.8894L15.7789 12.9168L12.9168 15.7789L12.8894 15.7515L12.862 15.7789L10 12.9168L10.0274 12.8894L0 2.86203Z" fill="white"></path></svg>
            button(text="next" value="Next" id='book-iterator-right' class="book-iterator-right") <svg width="16" height="12.8" viewBox="0 0 26 16" xmlns="http://www.w3.org/2000/svg" class="css-1qx34im"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 2.86203L2.86203 0L12.8894 10.0274L22.9168 0L25.7789 2.86203L15.7515 12.8894L15.7789 12.9168L12.9168 15.7789L12.8894 15.7515L12.862 15.7789L10 12.9168L10.0274 12.8894L0 2.86203Z" fill="white"></path></svg>
            
            +books(25)

        br
        br
        
        +anchor('experiences')
        h1 Experiences
        br
            
        +experience_blocks(experiences.slice(0, 3))
        +experience_blocks(experiences.slice(3))

        br 
        br
        h1 <span class="pulse">💓</span> Pulse
        p.os What I’ve been up to recently... check back in every once in a while for a new Pulse update!
        br

    .grid-bg.grid.long
        +pulse(pulses, 2)

    br 
    br
    br