doctype html

include ../includes/head
include ../_includes/_mixins.pug
include ../_includes/_variables.pug

body
// loads navigation bar for each page
include ../includes/nav

// this is where content will be loaded for subsequent pages
block content

// footer
include ../includes/footer







