extends projects/layout-projects

block variables
  - const metapic = "https://i.imgur.com/l1VErRr.png";

block head
    - var projectName = "F4T";
    title Food for Thought • A food relationship study

block content
    <div class="container">
        br
        br
        br
        br
        br
        <form class="form1" action="http://google.com">
            .formtitle.
                Enter the password to proceed

            <div class="input nobottomborder">
                <div class="inputtext">Password:</div>

                <div class="inputcontent">
                    <input type="password" id="password" /><br />
                </div>
            </div>

            <div class="button-clicker">
                <input class="orangebutton" type="button" value="Login" />
            </div>
        </form>
    </div>
