doctype html
include ../includes/_mixins
include ../includes/_variables 
include ../includes/_head

block head
    - var projectName = "WREN PAST";
    title Wren Past

block content
    include ../includes/_nav-projects
        
    .container(style="margin-top: 120px;")
        img(style='background-color: white; width: 100%' src='.https://projectwren.imgix.net/retreat/wren-timeline-whole.png')
        br
        br
        br
        br
        br
        br

        div(style="width: 100%; text-align: center;")
            a(style="color: blue; text-decoration: underline" href="/present") Go to Wren Present →

        br
        br
        br
        br
        br
        br