doctype html
include includes/_mixins.pug
include includes/_variables.pug 
include includes/head.pug
    block head
        if title
            title= title
        else
            title Ben Stanfield

body
    .snowflakes(aria-hidden="true")
        +snowflakes(10)
block content