   
.container-wide.mobile-full
    .hero
        .grid-bg
            .flex-grid.thirds.flex-nav#jsHide
                .thirds-col.always-show
                    <video class='benmoji' autoplay loop muted playsinline>
                        <source src="../../images/benmoji-sunglasses.mp4" type="video/mp4">
                    </video>
                    p.pauseicon Paused
                .two-thirds-col.big-text
                    h1#show.rebelReplaceHeader Hi! I'm Ben.

            .rising

#stick-here
.nav#stickThis
    .nav-content
        .nav-text   
            a(href="/").left#root Home
            .right.nav-links
                <div class="dropdown">
                    <a class='dropbtn' aria-haspopup="true">View posts <span class='drpdwn'>▾</span></a>
                    <div class="dropdown-content">
                        <div class="dropdown-link-container">
                            <a class='dropdown-link' href="/projects/deploy.html">Web Deployment Tutorial</a>
                        </div>
                        <div class="dropdown-link-container">
                            <a class='dropdown-link' href="/coffee.html">Best Coffeeshops for Work in Los Angeles</a>
                        </div>
                        <div class="dropdown-link-container">
                            <a class='dropdown-link' href="/foodforthought.html">Food for Thought Survey</a>
                        </div>
                        <div class="dropdown-link-container">
                            <a class='dropdown-link' href="/#experiences">Experiences</a>
                        </div>
                    </div>
                </div>
                //- a(class='mobile-show' href="/coffee.html") Coffee Blog
                a(class='mobile-hide' href="/gift.html") 🎁 Unwrap...