br
br

footer
    .grid-bg.long
        .container
            img#footerla(src='images/personalsite-footer.png')

script.  
    tippy('.orange-link', {
        theme: 'ben',
        followCursor: true
    });