head(lang="en").
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Ben Stanfield</title>
  <link rel="stylesheet" href="/app.css">
  <script src="/vendor.js"></script>
  <script src="/app.js"></script>
  <script   src="https://unpkg.com/tippy.js@2/dist/tippy.all.min.js"></script>
  <script>require('initialize');</script>
  
  <link rel="icon" type="image/png" href="../images/ben-moji.png" />

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,500i,700,700i|IBM+Plex+Serif:400,400i,500,500i,700,700i&amp;subset=latin-ext" rel="stylesheet">
